.navigation-bar{
  height: 68px;
  background-color: #0f1016;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-bar a{
  height: 100%;
  padding: 0 20px;    
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
}

.navigation-bar a:hover{
  background-color: #006aff;
}

.navigation-bar svg{
  fill: #f0f0f0;
}

#sidebar-active{
  display: none;
}

.open-sidebar-button,
.close-sidebar-button{
  display: none;
}

@media(max-width: 580px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 200px;
    background-color: #0f1016;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  } 

  .navigation-bar a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  
  #sidebar-active:checked ~ .links-container{
    left: 0;
  }

  #overlay{
    transition: 0.75s background-color;
  }

  #sidebar-active:checked ~ #overlay{
    background-color: rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index:9;  
  }
}