.sidebar{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    border-color: rgb(228, 228, 228);
    z-index: 200;
    flex-shrink: 0;
    max-height: none;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 7px;
}

.sidebar-link div{
    font-family: roboto, arial;
    font-size: 10px;
}